.tarjetas img{
  height:5%;
  width: 5%;
}
.contenedor_principal{
  margin-left: 5%;
  margin-bottom: 15%;
  width: 45%;
  height: 45%;
  float: left;

}
#foot{
  float: left;
}
.parrafo{
  text-align: center;
  width: 45%;
  height: 45%;
}
.contenedor_principal img{
  border: 1px solid #585858;
  height: 45%;
  width: 45%;
}
body{
  background-image: url("imagenes/fondo.jpg")
}
p{
  margin-top: 3%;
  color:black;
  font-family: Courier;
}
button{
  padding: 2%;
  margin: 5%;
}
